@font-face {
    font-family: CyberPunk;
    src: url(../starwars.ttf);
}

#body{
    background-image: url(../imgs/background/bodybg9.jpg);
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#canvas{
    background: #c7a361; 
    border: 3px solid black;
}


#div1{
    display: flex; 
    justify-content: center;
    align-items: center;
}

#richard{
    position: absolute; 
    top: 400px; 
    left: 500px; 
    z-index: 1;
}


#richTag {
    position: relative;
    z-index: 1;
    left: 65px;
    bottom: 45px;
    font-size: 10px;
    color: white;
}

#richard:hover::after{ 
    content: attr(title); 
    font-size: 10px; 
    position: absolute; 
    top: -10px; 
    left: -15px;
    color: transparent;
}


#nav{ 
        border: 2px solid black;
        margin: 5px;
        padding: 2px;
        display: flex;
        justify-content: center;  
        align-items: center;     
}

#nav a {
    margin-left: 30px;
}

#nav a:last-child {
    margin-right: 30px;
}




#footer{
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

#footer li {
    list-style-type: "" ;
}

#GameOver{
    position: relative;
    bottom: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


#restart{
    z-index: 3;

    padding: 15px;
    background-color: #c7a361;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    font-family: CyberPunk;
    text-shadow: 1px 1px white;
}


#lost{
    z-index: 3;
    text-align: center;
    font-size: 20px;
    font-family: CyberPunk;
    text-shadow: 1px 1px white;
    inline-size: 350px;

}

.hidden{
    display: none;
}




